@model IEnumerable<DatabaseLayer.CityTable>

@{
    ViewBag.Title = "City";
}
<div class="col-md-8">
    <div class="contact-form-block">
        <h2 class="contact-title">All Cities</h2>
        <p>
            @Html.ActionLink("New City", "Create", null, new { @class = "btn btn-theme" })
        </p>
        <table class="table table-hover">
            <tr>
                <th>
                    City
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td class="text-right">
                        @Html.ActionLink("Edit", "Edit", new { id = item.CityID }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
